html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

canvas {
  display: block;
  width: calc(100vw);
  height: 1000000px;
  background: #000;
}

#container {
  margin: 10px auto;
  position: relative;
  border-radius: 50%;
  animation: spin 10s linear infinite;
  rotate: 55deg;
  transition: transform 2s;
}

.item {
  width: 1000px;
  height: 400px;
  border-color: rgb(238, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 32px; */
  /* border-width: 10px; */
  line-height: 30px;
  text-align: center;
  position: absolute;
  /* background: rgba(137, 125, 125, 0); */
}

/* @keyframes spin {
    100% {
      transform: rotate(1turn);
    }
  } */









/* ------------------------------------------------------------------------------- */




/* --------------------card styles------------------------- */


body {
  background: #f5dce9;
  font-family: 'Black Han Sans', sans-serif;
}

.wrapper {
  position: fixed;
  width: 60%;
  /* height: 50%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow:
    0 2.8px 4.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.space-card {
  height: 470px;
  width: 750px;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  background: linear-gradient(183deg, #00000000 30px, #522a589a 250px, #f17dbc 500px);
  border-radius: 25px;
  overflow: hidden;
}

.space-card-left {
  z-index: 5;
  width: 275px;
  height: 470px;
  border-radius: 25px 0 0 25px;
  position: absolute;
  background-color: #fff;
}

.space-card-left::before {
  content: '';
  width: 15px;
  left: 270px;
  position: absolute;
  border-top: 470px solid #fff;
  border-right: 80px solid transparent;
}

.space-card-left::after {
  content: '';
  width: 15px;
  top: 0;
  left: 270px;
  position: absolute;
  border-bottom: 470px solid #fff;
  border-right: 80px solid transparent;
}

.space-card-left .space-card-left-title {
  position: absolute;
  top: 25px;
  left: 25px;
  font-weight: 300;
  font-size: 50px;
}

.space-card-left .space-card-left-subtext {
  position: absolute;
  text-align: justify;
  top: 80px;
  left: 30px;
  right: 10px;
  color: #c25e9d;
}

.space-card-left .space-card-left-button {
  z-index: 6;
  position: absolute;
  height: 30px;
  line-height: 25px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  padding: 2px 35px 2px 35px;
  color: white;
  background: linear-gradient(to right, #a64367, #622d61);
  border-radius: 25px;
  left: 40px;
  top: 400px;
}

.space-card-left .space-card-left-button button {
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.space-card-left .space-card-left-button::before {
  position: absolute;
  content: "";
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #622d61, #a64367);
  z-index: -1;
  transition: opacity 0.2s linear;
  opacity: 0;
}

.space-card-left .space-card-left-button:hover::before {
  opacity: 1;
}

.space-card-right .space-card-right-sun {
  z-index: 4;
  position: absolute;
  background-color: #f2efcc;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: 20px;
  left: 320px;
  box-shadow: 0 0 0 15px rgba(242, 239, 204, 0.15), 0 0 0 30px rgba(242, 239, 204, 0.15), 0 0 0 45px rgba(242, 239, 204, 0.10), 0 0 0 60px rgba(242, 239, 204, 0.05);
}

.space-card-right .space-card-right-planet-1 {
  width: 50px;
  z-index: 4;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(130deg, #4a6b44, #254b5f 30px, transparent 45px);
  position: absolute;
  top: 120px;
  left: 600px;
}

.space-card-right .space-card-right-planet-2 {
  z-index: 4;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(130deg, #cdc34c, #cd3d49 50px, transparent 90px);
  position: absolute;
  top: 200px;
  left: 650px;
}

.space-card-right .space-card-right-planet-3 {
  z-index: 4;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: linear-gradient(145deg, #c860a2, #4b2b5a, #1a0916 120px);
  position: absolute;
  top: 280px;
  left: 480px;
}

.space-card-right .space-card-right-planet-3::after {
  content: '';
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: -27px;
  border-radius: 70%;
  border-style: solid;
  border-width: 3px;
  border-color: #6a3e7e;
  border-top: transparent;
  transform: rotate(-15deg);
  height: 30px;
  width: 180px;
}

.space-card-right .space-card-right-stars-container .space-card-right-stars {
  z-index: 2;
  width: 2px;
  height: 2px;
  background-color: transparent;
  position: absolute;
}

.space-card-right-stars-container {
  position: absolute;
}

.space-card-right .space-card-right-stars-container .space-card-right-shootingstar-1 {
  background: linear-gradient(to right, white, transparent);
  position: absolute;
  z-index: 2;
  transform: rotate(-40deg);
  width: 90px;
  height: 3px;
  top: 50px;
  left: 620px;
  border-radius: 50%
}

.space-card-right .space-card-right-stars-container .space-card-right-shootingstar-2 {
  background: linear-gradient(to right, white, transparent);
  position: absolute;
  z-index: 2;
  transform: rotate(-40deg);
  width: 80px;
  height: 1px;
  top: 370px;
  left: 621px;
}

.space-card-right .space-card-right-stars-container .space-card-right-shootingstar-3 {
  background: linear-gradient(to right, white, transparent);
  position: absolute;
  z-index: 2;
  transform: rotate(-40deg);
  width: 70px;
  height: 1px;
  top: 190px;
  left: 420px;
}

.space-card-right .space-card-right-stars-container .space-card-right-shootingstar-4 {
  background: linear-gradient(to right, white, transparent);
  position: absolute;
  z-index: 2;
  transform: rotate(-40deg);
  width: 20px;
  height: 1px;
  top: 190px;
  left: 680px;
}

.inspired {
  padding-top: 5px;
  margin-left: 20px;
}




/* --------------------------------------------------------------------------- */



/* ------------------------------TEXT---------------------------------*/



@import url(//fonts.googleapis.com/css?family=Comfortaa:70);


.logo {
  /* text-align: center; */
  /* width: fit-content; */
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo {
  /* font-family: "Comfortaa"; */
  font: 100 15vh "Comfortaa";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #329ED6, 0 0 0.5em #329ED6, 0 0 0.1em #329ED6, 0 10px 3px #000;
}

.card {
  font-family: "Comfortaa";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #329ED6, 0 0 0.5em #329ED6, 0 0 0.1em #329ED6, 0 0 0 #000;
}

.blink {
  animation: blink linear infinite 3s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #333;
  }

  80% {

    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #333;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #333;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}


.rotate {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  margin-top: -1%;
  padding: 0%;
  border: 0%;
  max-width: 7%;
  display: inline-block;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .logo {
    font-size: 10vh;
    /* Adjust font size for smaller screens */
  }

  .photo {
    margin-top: -1%;
    max-width: 15%;
  }
}



/* ------------------------------------------------------------------------------------------------- */
/* -------------------------------------LANDINGPAGEMAINCANVAS------------------------------------------------ */

.small-screen-landing-page {
  @media screen and (min-width: 677px) {
    display: none;
  }
}

.big-screen-landing-page {
  @media screen and (max-width: 678px) {
    display: none;
  }
}



/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------EVENTS------------------------------------------------ */


.selectedEvent {
  border-bottom: 2px solid rgb(253, 253, 253);
}


/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------LEADERBOARD-CONTAINER----------------------------- */

.leaderboard-contaier {
  @media screen and (max-width: 769px) {
    padding-top: 70px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 145px;
  }
}


/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------PODIUM------------------------------------------------ */


.container {
  display: flex;
  align-items: flex-end;
  color: white;
  width: 100vw;
  justify-content: center;

  @media screen and (max-width: 300px) {
    scale: 70%;
  }
}

.podium__item {
  width: 250px;
  transition: 0.5s;
}

.podium__item:hover {
  @media screen and (min-width: 768px) {
    scale: 120%;
    filter: contrast(140%);
  }
}

.podium__rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #fff;
}

.podium__city {
  text-align: center;
  padding: 0 .5rem;
}

.podium__number {
  width: 27px;
  height: 75px;
}

.podium .first {
  height: 300px;

  @media screen and (max-width: 400px) {
    scale: 90%;
  }
}

.podium .second {
  height: 280px;

  @media screen and (max-width: 400px) {
    scale: 75%;
  }
}

.podium .third {
  height: 250px;

  @media screen and (max-width: 400px) {
    scale: 65%;
  }
}


/* clear background */
h2 {
  text-align: center;
  color: rgb(148, 159, 177);
  padding: 16px;
  margin: 0;
}

/* crops animations that exceeds one line area */
.line {
  width: 100%;
  height: 4rem;
  padding: 0;
  margin-bottom: 16px;
}

/* flipping class and key frames*/
.flipX {
  animation: 1s anim-flipX ease infinite;
}

@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90def);
  }

  50% {
    opacity: 1;
    transform: rotateX(720deg);
  }

  100% {
    /* animate nothing to pause animation at the end */
    opacity: 1;
    transform: rotateX(720deg);
  }
}

.lineUp {
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #329ED6, 0 0 0.5em #329ED6, 0 0 0.1em #329ED6, 0 10px 3px #000;
  animation: 5s anim-lineUp ease-out infinite;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}

/* flipY class and keyframes*/
.flipY {
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}





/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------LOADER------------------------------------------------ */

.image-cropper {
  width: 190px;
  height: 190px;
  position: absolute;
  overflow: hidden;
  z-index: 500000;
  border-radius: 50%;
}

.loader1 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradien(#ffd700, #ffd700 #ffd700);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader1 span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#c7af25, #ffd700, #b39c1d);
}

.loader1 span:nth-child(1) {
  filter: blur(10px);
}

.loader1 span:nth-child(2) {
  filter: blur(20px);
}

.loader1 span:nth-child(3) {
  filter: blur(25px);
}

.loader1 span:nth-child(4) {
  filter: blur(50x);
}

.loader1:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #240229;
  border-radius: 50%;
}

.loader2 {
  position: relative;
  z-index: 100000;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(#C0C0C0, #C0C0C0, #696969);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader2 span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#7c7474, #C0C0C0, #6e6969);
}

.loader2 span:nth-child(1) {
  filter: blur(2px);
}

.loader2 span:nth-child(2) {
  filter: blur(10px);
}

.loader2 span:nth-child(3) {
  filter: blur(20px);
}

.loader2 span:nth-child(4) {
  filter: blur(50px);
}

.loader2:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #240229;
  border-radius: 50%;
}

.loader3 {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(#a0764c, #CD7F32, #CD7F32);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader3 span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#664c32, #CD7F32, #83460a);
}

.loader3 span:nth-child(1) {
  filter: blur(2px);
}

.loader3 span:nth-child(2) {
  filter: blur(10px);
}

.loader3 span:nth-child(3) {
  filter: blur(20px);
}

.loader3 span:nth-child(4) {
  filter: blur(50px);
}

.loader3:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #240229;
  border-radius: 50%;
}



/* ----------------------------------------------------------------------------- */
/* ------------------------------TEXT---------------------------------*/

.event-normal {
  font-family: "Comfortaa";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #329ED6, 0 0 0.5em #329ED6, 0 0 0.1em #329ED6, 0 0 0 #000;
}

.event-selected {
  font-family: "Comfortaa";
  border-radius: 16px;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #329ED6, 0 0 0.5em #329ED6, 0 0 0.1em #329ED6, 0 0 0 #000;
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------ARROWS------------------------------------------------ */

.arrows {
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}

.arrows:hover {
  opacity: 1;
  scale: 110%;
}


/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------loaderlb------------------------------------------------ */


.loaderlb1 {
  position: absolute;
  border-radius: 50%;
  background: linear-gradien(#ffd700, #ffd700 #ffd700);
  border: 2px solid #ffd700;
  box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ffd700, 0 0 0.5em #ffd700, 0 0 0.1em #ffd700, 0 10px 3px #000;
  ;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loaderlb2 {
  position: absolute;
  border-radius: 50%;
  background: linear-gradien(#C0C0C0, #C0C0C0 #C0C0C0);
  border: 2px solid #C0C0C0;
  box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #C0C0C0, 0 0 0.5em #C0C0C0, 0 0 0.1em #C0C0C0, 0 10px 3px #000;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loaderlb3 {
  position: absolute;
  border-radius: 50%;
  background: linear-gradien(#CD7F32, #CD7F32 #CD7F32);
  border: 2px solid #CD7F32;
  box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #CD7F32, 0 0 0.5em #CD7F32, 0 0 0.1em #CD7F32, 0 10px 3px #000;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------------------------*/
/*-------------------NAV - RESPONSIVE ------------------------------ */

.nav-desktop {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.nav-mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}