@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

canvas {
	display: block;
	width: calc(100vw);
	height: 1000000px;
	background: #000;
}

#container {
	margin: 10px auto;
	position: relative;
	border-radius: 50%;
	animation: spin 10s linear infinite;
	rotate: 55deg;
	transition: transform 2s;
}

.item {
	width: 1000px;
	height: 400px;
	/* border-color: rgb(238, 255, 0); */
	display: flex;
	justify-content: center;
	align-items: center;
	/* border-radius: 32px; */
	/* border-width: 10px; */
	/* line-height: 30px; */
	text-align: center;
	position: absolute;
	/* background: rgba(137, 125, 125, 0); */
}

/* @keyframes spin {
    100% {
      transform: rotate(1turn);
    }
  } */

/* ------------------------------TEXT---------------------------------*/

@import url(//fonts.googleapis.com/css?family=Comfortaa:70);

.logo {
	/* text-align: center; */
	/* width: fit-content; */
	height: fit-content;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.logo {
	/* font-family: "Comfortaa"; */
	/* font-family: "Bai Jamjuree", sans-serif; */
	width: 100%;
	justify-content: center;
	font: 100 15vh "Bai Jamjuree";
	/* font-family: 'Fredoka', sans-serif; */
	color: #fee;
	text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #329ed6, 0 0 0.5em #329ed6,
		0 0 0.1em #329ed6, 0 10px 3px #000;
}

.sangam {
	/* font-family: "Bai Jamjuree", sans-serif; */
	font-family: "Bai Jamjuree", sans-serif;
}

.card {
	font-family: "Bai Jamjuree";
	color: #fee;
	text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #329ed6, 0 0 0.5em #329ed6,
		0 0 0.1em #329ed6, 0 0 0 #000;
}

.blink {
	/* font-family: 'Montserrat', sans-serif; */
	animation: blink linear infinite 3s;
}

@keyframes blink {
	78% {
		color: inherit;
		text-shadow: inherit;
	}

	79% {
		color: #333;
	}

	80% {
		text-shadow: none;
	}

	81% {
		color: inherit;
		text-shadow: inherit;
	}

	82% {
		color: #333;
		text-shadow: none;
	}

	83% {
		color: inherit;
		text-shadow: inherit;
	}

	92% {
		color: #333;
		text-shadow: none;
	}

	92.5% {
		color: inherit;
		text-shadow: inherit;
	}
}

.rotate {
	animation: rotate 5s linear infinite;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

.spinner {
	margin-top: 0.3%;
	padding: 0%;
	border: 0%;
	width: 12vh;
	/* max-width: 5.5%; */
	display: inline-block;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
	.logo {
		font-size: 10vh;
		/* Adjust font size for smaller screens */
	}

	.photo {
		margin-top: 1%;
		max-width: 18%;
	}
}

/* ------------------------------------------------------------------------------------------------- */
/* -------------------------------------LANDINGPAGEMAINCANVAS------------------------------------------------ */

.small-screen-landing-page {
	@media screen and (min-width: 677px) {
		display: none;
	}
}

.big-screen-landing-page {
	@media screen and (max-width: 678px) {
		display: none;
	}
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------EVENTS------------------------------------------------ */

.selectedEvent {
	border-bottom: 2px solid rgb(253, 253, 253);
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------LEADERBOARD-CONTAINER----------------------------- */

.leaderboard-contaier {
	@media screen and (max-width: 769px) {
		padding-top: 70px;
	}

	@media screen and (min-width: 768px) {
		padding-top: 145px;
	}
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------EVENTSPODIUM------------------------------------------------ */

.events-podium {
	display: flex;
	flex-direction: row;
}

.events-podium-container {
	width: calc(1 / 3 * 100vw);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 850px) {
	.events-podium {
		margin-top: 100px;
		display: flex;
		flex-direction: column;
	}

	.events-podium-container {
		width: 100vw;
		height: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.events-podium-line {
		display: none;
	}
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------PODIUM------------------------------------------------ */

.container {
	display: flex;
	align-items: flex-end;
	color: white;
	width: 100%;
	justify-content: center;

	@media screen and (max-width: 300px) {
		scale: 70%;
	}
}

.container-events-podium {
	scale: 70%;
}

.podium__item {
	width: 250px;
	transition: 0.5s;
}

.podium__item:hover {
	@media screen and (min-width: 768px) {
		scale: 120%;
		filter: contrast(140%);
	}
}

.podium__rank {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	color: #fff;
}

.podium__city {
	text-align: center;
	padding: 0 0.5rem;
}

.podium__number {
	width: 27px;
	height: 75px;
}

.podium .first {
	height: 300px;

	@media screen and (max-width: 400px) {
		scale: 90%;
	}
}

.podium .second {
	height: 280px;

	@media screen and (max-width: 400px) {
		scale: 75%;
	}
}

.podium .third {
	height: 250px;

	@media screen and (max-width: 400px) {
		scale: 65%;
	}
}

/* clear background */
h2 {
	text-align: center;
	color: rgb(148, 159, 177);
	padding: 16px;
	margin: 0;
}

/* crops animations that exceeds one line area */
.line {
	width: 100%;
	height: 4rem;
	padding: 0;
	margin-bottom: 16px;
}

/* flipping class and key frames*/
.flipX {
	animation: 1s anim-flipX ease infinite;
}

@keyframes anim-flipX {
	0% {
		opacity: 0;
		transform: rotateX(90def);
	}

	50% {
		opacity: 1;
		transform: rotateX(720deg);
	}

	100% {
		/* animate nothing to pause animation at the end */
		opacity: 1;
		transform: rotateX(720deg);
	}
}

.lineUp {
	color: #fee;
	text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #329ed6, 0 0 0.5em #329ed6,
		0 0 0.1em #329ed6, 0 10px 3px #000;
	animation: 5s anim-lineUp ease-out infinite;
}

@keyframes anim-lineUp {
	0% {
		opacity: 0;
		transform: translateY(80%);
	}

	20% {
		opacity: 0;
	}

	50% {
		opacity: 1;
		transform: translateY(0%);
	}

	100% {
		opacity: 0;
		transform: translateY(0%);
	}
}

/* flipY class and keyframes*/
.flipY {
	animation-name: spin, depth;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 6s;
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------LOADER------------------------------------------------ */

.image-cropper {
	position: absolute;
	overflow: hidden;
	z-index: 500000;
	border-radius: 50%;
}

.loader1 {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: linear-gradien(#ffd700, #ffd700 #ffd700);
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loader1 span {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: linear-gradient(#c7af25, #ffd700, #b39c1d);
}

.loader1 span:nth-child(1) {
	filter: blur(10px);
}

.loader1 span:nth-child(2) {
	filter: blur(20px);
}

.loader1 span:nth-child(3) {
	filter: blur(25px);
}

.loader1 span:nth-child(4) {
	filter: blur(50x);
}

.loader1:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #240229;
	border-radius: 50%;
}

.loader2 {
	position: relative;
	z-index: 100000;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: linear-gradient(#c0c0c0, #c0c0c0, #696969);
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loader2 span {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: linear-gradient(#7c7474, #c0c0c0, #6e6969);
}

.loader2 span:nth-child(1) {
	filter: blur(2px);
}

.loader2 span:nth-child(2) {
	filter: blur(10px);
}

.loader2 span:nth-child(3) {
	filter: blur(20px);
}

.loader2 span:nth-child(4) {
	filter: blur(50px);
}

.loader2:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #240229;
	border-radius: 50%;
}

.loader3 {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: linear-gradient(#a0764c, #cd7f32, #cd7f32);
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loader3 span {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: linear-gradient(#664c32, #cd7f32, #83460a);
}

.loader3 span:nth-child(1) {
	filter: blur(2px);
}

.loader3 span:nth-child(2) {
	filter: blur(10px);
}

.loader3 span:nth-child(3) {
	filter: blur(20px);
}

.loader3 span:nth-child(4) {
	filter: blur(50px);
}

.loader3:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #240229;
	border-radius: 50%;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------------TEXT---------------------------------*/

.event-normal {
	font-family: "Comfortaa";
	color: #fee;
	text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #329ed6, 0 0 0.5em #329ed6,
		0 0 0.1em #329ed6, 0 0 0 #000;
}

.event-selected {
	font-family: "Comfortaa";
	border-radius: 16px;
	/* text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #329ed6, 0 0 0.5em #329ed6,
		0 0 0.1em #329ed6, 0 0 0 #000; */
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------ARROWS------------------------------------------------ */

.arrows {
	opacity: 0.7;
	transition: 0.2s ease-in-out;
}

.arrows:hover {
	opacity: 1;
	scale: 110%;
}

/* ---------------------------------------------------------------------------------------- */
/* -------------------------------------loaderlb------------------------------------------------ */

.loaderlb1 {
	position: absolute;
	border-radius: 50%;
	background: linear-gradien(#ffd700, #ffd700 #ffd700);
	border: 2px solid #ffd700;
	box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ffd700, 0 0 0.5em #ffd700,
		0 0 0.1em #ffd700, 0 10px 3px #000;
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loaderlb2 {
	position: absolute;
	border-radius: 50%;
	background: linear-gradien(#c0c0c0, #c0c0c0 #c0c0c0);
	border: 2px solid #c0c0c0;
	box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #c0c0c0, 0 0 0.5em #c0c0c0,
		0 0 0.1em #c0c0c0, 0 10px 3px #000;
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loaderlb3 {
	position: absolute;
	border-radius: 50%;
	background: linear-gradien(#cd7f32, #cd7f32 #cd7f32);
	border: 2px solid #cd7f32;
	box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #cd7f32, 0 0 0.5em #cd7f32,
		0 0 0.1em #cd7f32, 0 10px 3px #000;
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* ------------------------------------------------------------------*/
/*-------------------NAV - RESPONSIVE ------------------------------ */

.nav-desktop {
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.nav-mobile {
	@media screen and (min-width: 768px) {
		display: none;
	}
}

/* --------------------------------------------------------------------------------------------*/
/*-----------------------------------TEAM----------------------------------------------------- */

.four-year-div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: center;

	@media screen and (max-width: 1000px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.three-year-div {
	display: flex;
	flex-direction: row;
	justify-content: center;

	@media screen and (max-width: 1000px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.container-team {
	margin: 20px;
	display: flex;
	align-items: flex-end;
	color: white;
	justify-content: center;

	@media screen and (max-width: 550px) {
		margin: 0px;
	}
}

.podium__item-team {
	width: 250px;
	transition: 0.5s;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 1140px) {
		width: 200px;
	}
}

.podium__item-team:hover {
	@media screen and (min-width: 768px) {
		scale: 120%;
		filter: contrast(140%);
	}
}

.podium__rank-team {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	color: #fff;
}

.podium__city-team {
	text-align: center;
	padding: 0 0.5rem;
}

.podium-team .team-individual {
	height: 300px;

	@media screen and (max-width: 450px) {
		scale: 60%;
		height: 200px;
	}
}

.loader1-team-1 {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: linear-gradien(#e5f8ff, #e5f8ff #e5f8ff);
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loader1-team-1 span {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: linear-gradient(#c0c0c0, #e6e3d4, #e6e3d4);
}

.loader1-team-1 span:nth-child(1) {
	filter: blur(10px);
}

.loader1-team-1 span:nth-child(2) {
	filter: blur(20px);
}

.loader1-team-1 span:nth-child(3) {
	filter: blur(25px);
}

.loader1-team-1 span:nth-child(4) {
	filter: blur(50x);
}

.loader1-team-1:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #240229;
	border-radius: 50%;
}

.loader1-team-2 {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: linear-gradien(#e2ddff, #e2ddff #e2ddff);
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.loader1-team-2 span {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: linear-gradient(#c0c0c0, #e6e3d4, #e6e3d4);
}

.loader1-team-2 span:nth-child(1) {
	filter: blur(10px);
}

.loader1-team-2 span:nth-child(2) {
	filter: blur(20px);
}

.loader1-team-2 span:nth-child(3) {
	filter: blur(25px);
}

.loader1-team-2 span:nth-child(4) {
	filter: blur(50x);
}

.loader1-team-2:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	background: #240229;
	border-radius: 50%;
}

/* --------------------------------------------------------------------------------------------*/
/*-----------------------------------TEAM----------------------------------------------------- */

.social-links {
	scale: 80%;
	fill: rgb(255, 255, 255);
}

.social-links:hover {
	fill: rgb(172, 33, 33);
}

/* .jitterAnimated {
  transition: all 5s ease 0s;
} */

/* ss */

.animated {
	transition: all 0.5s linear 0s;
}

/* #thatDiv {
  position: absolute;
  width: 50rem;
  height: 25rem;
  top: 7%;
  left: 10%;
  bottom: 25%;
  transform: rotateY(35deg);
  transform-style: preserve-3d;
} */

/* 
#thatDiv h1 {
  width: 100%;
  text-align: center;
  color: white;
  position: absolute;
  font-size: 50px;
  font-family: "Righteous";
  transform: translateZ(10vw);
} */

/* #thatDiv p {
  font-family: "Righteous";
  color: white;
  font-size: 18px;
  position: absolute;
  left: 1%;
  width: 50%;
  top: 20%;
  transform: translateZ(8vw);
  padding: 2%;
} */

/* #thatDiv button {
  border: 0.8vw white dashed;
  color: white;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  bottom: 8vw;
  right: 8vw;
  width: 6vw;
  height: 6vw;
  opacity: 0.8;
  font-size: 3vw;
  animation: spin 50s linear infinite;
} */

#thatDiv button:hover {
	background-color: rgb(10, 43, 46);
	cursor: pointer;
}

#card {
	font-family: "Bai Jamjuree", sans-serif;
	margin: 40px 70px;
	/* background-image: linear-gradient(
		4deg,
		#003c53,
		#006b7705,
		rgb(0 110 141 / 33%)
	); */
	background-image: url("./Assets/card-bg-transformed.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/* background-color: rgb(55, 0, 50, .8); */
	opacity: 100;
	padding: 110px 40px 70px 50px;
	text-align: left;
	/* border-radius: 50px 125px; */
	/* box-shadow: inset 0px -20px 50px 10px #00ffff80, 0px 10px 30px 6px #215d5d70; */
	/* box-shadow: 6px -6px 10px -6px black; */
	color: white;
}

.item:nth-of-type(1) button {
	margin-top: -55px;
}

.item:nth-of-type(3) button {
	margin-top: -55px;
}

@media screen and (max-width: 768px) {
	#card {
		margin: 0px;
		padding: 100px 50px 0 60px;
	}
}

.blinking {
	animation: blinkingText 5s infinite;
	animation-timing-function: ease-in;
}

@keyframes blinkingText {
	0% {
		color: white;
	}

	20% {
		color: transparent;
	}

	40% {
		color: white;
	}

	100% {
		color: white;
	}
}

.h1tag {
	margin-top: -15px;
	/* border-radius: 25%; */
	font-size: 40px;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.plain {
	letter-spacing: 2px;
	line-height: 35px;
	font-size: 18px;
	margin-left: 2px;
	display: inline;
}

.fast-blinking {
	animation: FastBlinkingText 0.5s infinite;
	animation-timing-function: linear;
}

@keyframes FastBlinkingText {
	0% {
		color: white;
	}

	30% {
		color: transparent;
	}

	100% {
		color: white;
	}
}

#card2 {
	font-family: "Bai Jamjuree", sans-serif;
	/* margin: 40px 70px; */
	/* min-height: 300px; */
	/* max-width: 600px; */
	/* background-image: linear-gradient(20deg,
      rgb(55, 0, 50, .8),
      rgb(50, 0, 50, .75),
      rgb(45, 0, 50, .7)); */
	background-color: rgb(55, 0, 50, 0.8);
	padding: 25px;
	/* padding-right: 40px; */
	/* padding-bottom: 70px; */
	border-radius: 50px 50px;
	box-shadow: inset 0px -20px 50px 10px #00ffff80, 0px 10px 30px 6px #215d5d70;
	/* box-shadow: 6px -6px 10px -6px black; */
	color: white;
}

.navba>li>div {
	padding-top: 0px;
	padding-bottom: 0px;
	/* line-height: 80px; */
	transition: all 0.5s linear;
}