@import url(//fonts.googleapis.com/css?family=Comfortaa:70);

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg) center no-repeat;
    background-size: cover;
}

.logo {
    text-align: center;
    width: 90%;
    /* Increase the width for smaller screens */
    max-width: 800px;
    /* Limit the maximum width */
    height: 250px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo b {
    font: 100 10vh "Comfortaa";
    /* Decrease the font size for smaller screens */
    color: #fee;
    text-shadow: 0 -20px 50px, 0 0 2px, 0 0 1em #329ED6, 0 0 0.5em #329ED6, 0 0 0.1em #329ED6, 0 5px 3px #000;
    /* Adjust text-shadow values */
}

/* Add a media query for smaller screens */
@media (max-width: 600px) {
    .logo {
        width: 95%;
        /* Further increase width for very small screens */
    }

    .logo b {
        font: 100 7vh "Comfortaa";
        /* Adjust font size for very small screens */
    }
}

.logo b span {
    animation: blink linear infinite 3s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79% {
        color: #333;
    }

    80% {
        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

/* follow me @nodws */
#btn-twtr {
    clear: both;
    color: #fff;
    border: 2px solid;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    width: 13em;
    padding: 5px 10px;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
    opacity: 0.4;
}

#btn-twtr:hover {
    color: #fff;
    opacity: 1;
}