@import url(//fonts.googleapis.com/css?family=Comfortaa:70);


.logo {
    text-align: center;
    width: 65%;
    height: fit-content;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo b {
    /* font-family: "Comfortaa"; */
    font: 100 15vh "Comfortaa";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #329ED6, 0 0 0.5em #329ED6, 0 0 0.1em #329ED6, 0 10px 3px #000;
}

.logo b span {
    animation: blink linear infinite 3s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79% {
        color: #333;
    }

    80% {

        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #333;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #333;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}


.rotate {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    margin-top: -25px;
    padding: 0%;
    border: 0%;
    max-width: 13%;
    display: inline-block;
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
    .logo {
        font-size: 10vh;
        /* Adjust font size for smaller screens */
    }
}