@import url(//fonts.googleapis.com/css?family=Comfortaa:70);

.logo {
    font: 100 15vh "Comfortaa";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #329ED6, 0 0 0.5em #329ED6, 0 0 0.1em #329ED6, 0 10px 3px #000;
}