html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

canvas {
  display: block;
  width: calc(100vw);
  height: 1000000px;
  background: #000;
}

#container {
  margin: 10px auto;
  position: relative;
  border-radius: 50%;
  animation: spin 10s linear infinite;
  rotate: 55deg;
  transition: transform 2s;
}

.item {
  width: 500px;
  height: 300px;
  border-color: rgb(238, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border-width: 0px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  background: rgba(137, 125, 125, 0);
}

/* @keyframes spin {
    100% {
      transform: rotate(1turn);
    }
  } */